<!DOCTYPE html>
<html>
<head>
    <title>The Mirror</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="bg_wrapper">
        <img src="/static/assets/beach.PNG" class="bg" id="bg">
        <img src="/static/assets/sea.PNG" class="sea" id="sea">
        <img src="/static/assets/tree.PNG" class="tree" id="tree">
    </div>
    <div class="final_text" id="tx_s12.1">
        <h3 class="fr" id="s12_r1.1" >What is this?</h3>
        <h3 class="ft" id="s12_t1.1" style="display: none;" >Can't you see? it's everything you've been working for--</h3>
        <h3 class="ft" id="s12_t1.2" style="display: none;" >It's freedom.</h3>
        <h3 class="ft" id="s12_t1.3" style="display: none;" >It's peace.</h3>
        <h3 class="ft" id="s12_t1.4" style="display: none;" >You yearn for adventure, don't you? Well, here you are.</h3>
        <h3 class="ft" id="s12_t1.5" style="display: none;" >This island is deserted, but it has everything you need.</h3>
        <h3 class="ft" id="s12_t1.6" style="display: none;" >There's no one here to look down on you. To expect things from you.</h3>
        <h3 class="fr" id="s12_r2.1" style="display: none;">I see. That's nice.</h3>
    </div>
    <div class="final_text" id="tx_s12.2"  style="display: none;">
        <h3 class="ft" id="s12_t2.1">The horizon stretches out as far as the eye can see. It really is just you on the island.</h3>
    </div>
    <div class="final_text" id="tx_s12.3"  style="display: none;">
        <h3 class="ft" id="s12_t3.1">The lush trees sway gently in the wind. You feel it would be perfect timing to take a nap.</h3>
    </div>
    <div class="final_text" id="tx_s12.4"  style="display: none;">
        <h3 class="ft" id="s12_t4.1" >The waves lap rhythmically on the sand. You could see yourself staying here forever.</h3>
    </div>
    <div class="final_text" id="tx_s12.5" style="display: none;">
        <h3 class="ft" id="s12_t5.1">It's time to go.</h3>
        <h3 class="ft" id="s12_t5.2" style="display: none;" >"...Oh? You're already returning?"</h3>
        <h3 class="ft" id="s12_t5.3" style="display: none;" >"How surprising. I anticipated a longer stay."</h3>
        <h3 class="ft" id="s12_t5.4" style="display: none;" >"No matter. If that is what you wish, I will respect it."</h3>
        <h3 class="ft" id="s12_t5.5" style="display: none;" >"Thank you for making this visit."</h3>
        <h3 class="fr" id="s12_r5.1" style="display: none;">Wait! Who even are you?</h3>
        <h3 class="ft" id="s12_t5.6" style="display: none;" >"Me? What a silly question."</h3>
        <h3 class="ft" id="s12_t5.7" style="display: none;" >"You already know."</h3>
    </div>
    
    </div>
</div>
<script>
const bg = document.getElementById("bg")
const sea = document.getElementById("sea")
const tree = document.getElementById("tree")
const tx_s121 = document.getElementById("tx_s12.1")
const s12_r11 = document.getElementById("s12_r1.1")
const s12_t11 = document.getElementById("s12_t1.1")
const s12_t12 = document.getElementById("s12_t1.2")
const s12_t13 = document.getElementById("s12_t1.3")
const s12_t14 = document.getElementById("s12_t1.4")
const s12_t15 = document.getElementById("s12_t1.5")
const s12_t16 = document.getElementById("s12_t1.6")
const s12_r21 = document.getElementById("s12_r2.1")

const tx_s122 = document.getElementById("tx_s12.2")
const s12_t21 = document.getElementById("s12_t2.1")

const tx_s123 = document.getElementById("tx_s12.3")
const s12_t31 = document.getElementById("s12_t3.1")

const tx_s124 = document.getElementById("tx_s12.4")
const s12_t41 = document.getElementById("s12_t4.1")

const tx_s125 = document.getElementById("tx_s12.5")
const s12_t51 = document.getElementById("s12_t5.1")
const s12_t52 = document.getElementById("s12_t5.2")
const s12_t53 = document.getElementById("s12_t5.3")
const s12_t54 = document.getElementById("s12_t5.4")
const s12_t55 = document.getElementById("s12_t5.5")
const s12_r51 = document.getElementById("s12_r5.1")
const s12_t56 = document.getElementById("s12_t5.6")
const s12_t57 = document.getElementById("s12_t5.7")

s12_r11.addEventListener("click", async () => {
    s12_t11.style.display = "block";
    s12_r11.style.cursor = "default";
});

s12_t11.addEventListener("click", async () => {
    s12_t12.style.display = "block";
    s12_t11.style.cursor = "default";
});

s12_t12.addEventListener("click", async () => {
    s12_t13.style.display = "block";
    s12_t12.style.cursor = "default";
});

s12_t13.addEventListener("click", async () => {
    s12_t14.style.display = "block";
    s12_t13.style.cursor = "default";
});

s12_t14.addEventListener("click", async () => {
    s12_t15.style.display = "block";
    s12_t14.style.cursor = "default";
});

s12_t15.addEventListener("click", async () => {
    s12_t16.style.display = "block";
    s12_t15.style.cursor = "default";
});

s12_t16.addEventListener("click", async () => {
    s12_r21.style.display = "block";
    s12_t16.style.cursor = "default";
});

s12_r21.addEventListener("click", async () => {
    tx_s121.style.display = "none";
});

let collected = 0
let hasHorizon = false
let hasTree = false
let hasSea = false

//Horizon
bg.addEventListener("click", async () => {
    if (!hasHorizon) {
        collected += 1;
        tx_s122.style.display = "block";
        bg.style.pointerEvents = "none";
    }
});

tx_s122.addEventListener("click", async () => {
    tx_s122.style.display = "none";
    if (collected == 3) {
        tx_s125.style.display = "block"
;    }
});

//Tree
tree.addEventListener("click", async () => {
    if (!hasTree) {
        collected += 1;
        tx_s123.style.display = "block";
        tree.style.pointerEvents = "none";
    }
});

tx_s123.addEventListener("click", async () => {
    tx_s123.style.display = "none";
    if (collected == 3) {
        tx_s125.style.display = "block"
;    }
});

//Sea
sea.addEventListener("click", async () => {
    if (!hasSea) {
        collected += 1;
        tx_s124.style.display = "block";
        sea.style.pointerEvents = "none";
    }
});

tx_s124.addEventListener("click", async () => {
    tx_s124.style.display = "none";
    if (collected == 3) {
        tx_s125.style.display = "block"
;    }
});

s12_t51.addEventListener("click", async () => {
    s12_t52.style.display = "block"
    s12_t51.style.cursor = "default"
});

s12_t52.addEventListener("click", async () => {
    s12_t53.style.display = "block"
    s12_t52.style.cursor = "default"
});

s12_t53.addEventListener("click", async () => {
    s12_t54.style.display = "block"
    s12_t53.style.cursor = "default"
});

s12_t54.addEventListener("click", async () => {
    s12_t55.style.display = "block"
    s12_t54.style.cursor = "default"
});

s12_t55.addEventListener("click", async () => {
    s12_r51.style.display = "block"
    s12_t55.style.cursor = "default"
});

s12_r51.addEventListener("click", async () => {
    s12_t56.style.display = "block"
    s12_r51.style.cursor = "default"
});

s12_t56.addEventListener("click", async () => {
    s12_t57.style.display = "block"
    s12_t56.style.cursor = "default"
});

s12_t57.addEventListener("click", async () => {
    window.location.href="mirror.html";
});

</script>

</body>
</html>