<!DOCTYPE html>
<html>
<head>
    <title>The Mirror</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!--Id Nomenclature:
    Text block: tx_s[scene number]
        Individual text: s[scene number]_t[text block]_r[response].tx[text order]
    Response block: rs_s[scene number]
        Response choice: s[scene number]_r[response block].[response order]
    Response block (selected): rs_sl_s[scene number]
        Response selection: s[scene number]_rs[response block].[response choice]-->
<div class="main-dialogue">
    <div class="text" id="tx_s1">
        <h3 class="tx" id="s1_t1" style="cursor: default;">"Tsk, tsk. You are not ready yet, no. There's much more that must be discovered before you may face what lies beyond."</h3>
        <div class="response" id="rs_s1.1">
            <h3 class="rs" id="s1_r1.1">Discovered?</h3>
            <h3 class="rs" id="s1_r1.2">What lies beyond?</h3>
        </div>
        <div class="response-select" id="rs_sl_s1" style="display: none;">
            <h3 class="rs-sl" id="s1_rs1.1" style="display: none;">Discovered?</h3>
            <h3 class="rs-sl" id="s1_rs1.2" style="display: none;">What lies beyond?</h3>
        </div>
        <h3 class="tx" id="s1_t2_r1.1" style="display: none;">"About yourself, of course. What else could be more important?"</h3>
        <h3 class="tx" id="s1_t2_r2.1" style="display: none;">"...did i or did i not <i>just</i> state that you are not ready to hear more about that?"</h3>
        <h3 class="tx" id="s1_t2_r2.2" style="display: none;">"Well, I suppose a little more detail wouldn't hurt. To motivate you."</h3>
        <h3 class="tx" id="s1_t2_r2.3" style="display: none;">"All you need to know for now is that everything you've been working towards is for is there."</h3>
        <div class="response" id="rs_s1.2" style="display: none;">
            <h3 class="rs" id="s1_r2" style="display: none;">I understand. How can I start this 'discovering', or whatever?</h3>
        </div>
    </div>
    <div class="text" id="tx_s2" style="display: none;">
        <div class="response-select" id="rs_sl_s2" style="cursor: default;">
            <h3 class="rs-sl" id="s1_rs2">I understand. How can I start this 'discovering', or whatever?</h3>
        </div>
        <h3 class="tx" id="s2_t1.1">"Aha! Now we are asking about relevant matters."</h3>
        <h3 class="tx" id="s2_t1.2" style="display: none;">"All that I require from you, is an answer."</h3>
        <h3 class="tx" id="s2_t1.3" style="display: none;">"Simple, isn't it? I ask. You answer."</h3>
        <div class="response" id="rs_s2" style="display: none;">
            <h3 class="rs" id="s2_r1">...okay then. Let's get started.</h3>
        </div>
    </div>
    <div class="text" id="tx_s3" style="display: none;">
        <div class="response-select" id="rs_sl_s2" style="cursor: default;">
            <h3 class="rs-sl" id="s2_rs1">...okay then. Let's get started.</h3>
        </div>
        <h3 class="tx" id="s3_t1.1">"Yes, yes. We'll start simple. Please, tell me:"</h3>
        <h3 class="tx" id="s3_t1.2" style="display: none;">What word would people use to describe you?"</h3>
        <div class="response" id="rs_s3.1" style="display: none;">
            <h3 class="rs" id="s3_r1.1">Funny</h3>
            <h3 class="rs" id="s3_r1.2">Outgoing</h3>
            <h3 class="rs" id="s3_r1.3">Smart</h3>
            <h3 class="rs" id="s3_r1.4">Nice</h3>
            <h3 class="rs" id="s3_r1.5">Motivated</h3>
            <h3 class="rs" id="s3_r1.6">Hardworking</h3>
        </div>
        <div class="response-select" id="rs_sl_s3" style="display: none;">
            <h3 class="rs-sl" id="s3_rs1.1" style="display: none;">Funny</h3>
            <h3 class="rs-sl" id="s3_rs1.2" style="display: none;">Outgoing</h3>
            <h3 class="rs-sl" id="s3_rs1.3" style="display: none;">Smart</h3>
            <h3 class="rs-sl" id="s3_rs1.4" style="display: none;">Nice</h3>
            <h3 class="rs-sl" id="s3_rs1.5" style="display: none;">Motivated</h3>
            <h3 class="rs-sl" id="s3_rs1.6" style="display: none;">Hardworking</h3>
        </div>
        <h3 class="tx" id="s3_t2.1" style="display: none;">"Oh, and did I mention that all answers are <u>final</u>? After all, certainly if you ever believed your choice to be correct, there must have been a reason."</h3>
        <h3 class="tx" id="s3_t2.2" style="display: none;">"Well, now you know. Choose carefully."</h3>
        <div class="response" id="rs_s3.2" style="display: none;">
            <h3 class="rs" id="s3_r2">. . .</h3>
        </div>
    </div>
    <div class="text" id="tx_s4" style="display: none;">
        <div class="response-select" id="rs_sl_s3.2" style="cursor: default;">
            <h3 class="rs-sl" id="s3_rs2">. . .</h3>
        </div>
        <h3 class="tx" id="s4_t1.1">"Onto the next, now! Please, tell me:"</h3>
        <h3 class="tx" id="s4_t1.2" style="display: none;">"How do you spend your weekends?"</h3>
        <div class="response" id="rs_s4.1" style="display: none;">
            <h3 class="rs" id="s4_r1.1">Resting at home</h3>
            <h3 class="rs" id="s4_r1.2">Spending time with friends or family</h3>
            <h3 class="rs" id="s4_r1.3">Going out and doing an activity</h3>
        </div>
    </div>
    <div class="text" id="tx_s5" style="display: none;">
        <div class="response-select" id="rs_sl_s4.1" style="cursor: default;">
            <h3 class="rs-sl" id="s4_rs1" style="display: none;">Resting at home</h3>
            <h3 class="rs-sl" id="s4_rs2" style="display: none;">Spending time with friends or family</h3>
            <h3 class="rs-sl" id="s4_rs3" style="display: none;">Going out and doing an activity</h3>
        </div>
        <h3 class="tx" id="s5_t1.1">"Is that right? How utterly...predictable."</h3>
        <h3 class="tx" id="s5_t1.2" style="display: none;">"Well then, please tell me:"</h3>
        <h3 class="tx" id="s5_t1.3" style="display: none;">"How do you approach solving a problem?"</h3>
        <div class="response" id="rs_s5.1" style="display: none;">
            <h3 class="rs" id="s5_r1.1">Analyze the details and thoroughly plan</h3>
            <h3 class="rs" id="s5_r1.2">Ask someone for help</h3>
            <h3 class="rs" id="s5_r1.3">Trying out a solution instinctively</h3>
        </div>
    </div>
    <div class="text" id="tx_s6" style="display: none;">
        <div class="response-select" id="rs_sl_s5.1" style="cursor: default;">
            <h3 class="rs-sl" id="s5_rs1.1" style="display: none;">Analyze the details and thoroughly plan</h3>
            <h3 class="rs-sl" id="s5_rs1.2" style="display: none;">Ask someone for help</h3>
            <h3 class="rs-sl" id="s5_rs1.3" style="display: none;">Trying out a solution instinctively</h3>
        </div>
        <h3 class="tx" id="s6_t1.1">"Interesting. I suppose you've made it thus far and it's worked out for you..."</h3>
        <h3 class="tx" id="s6_t1.2" style="display: none;">"Next, please tell me:"</h3>
        <h3 class="tx" id="s6_t1.3" style="display: none;">"Do you dwell most on the past, present, or future?"</h3>
        <div class="response" id="rs_s6.1" style="display: none;">
            <h3 class="rs" id="s6_r1.1">Past</h3>
            <h3 class="rs" id="s6_r1.2">Present</h3>
            <h3 class="rs" id="s6_r1.3">Future</h3>
        </div>
    </div>
    <div class="text" id="tx_s7" style="display: none;">
        <div class="response-select" id="rs_sl_s6.1" style="cursor: default;">
            <h3 class="rs-sl" id="s6_rs1.1" style="display: none;">Past</h3>
            <h3 class="rs-sl" id="s6_rs1.2" style="display: none;">Present</h3>
            <h3 class="rs-sl" id="s6_rs1.3" style="display: none;">Future</h3>
        </div>
        <h3 class="tx" id="s7_t1_r1.1" style="display: none;">"Sentimental now, aren't we?"</h3>
        <h3 class="tx" id="s7_t1_r1.2" style="display: none;">"You must stop with those regrets."</h3>
        <h3 class="tx" id="s7_t1_r1.3" style="display: none;">"About what changed. About what could have been."</h3>
        <h3 class="tx" id="s7_t1_r1.4" style="display: none;">"Those things, those feelings can never return to you now."</h3>
        <h3 class="tx" id="s7_t1_r2.1" style="display: none;">"You're comfortable."</h3>
        <h3 class="tx" id="s7_t1_r2.2" style="display: none;">"Nothing remarkable about the past, and not urged by the future."</h3>
        <h3 class="tx" id="s7_t1_r2.3" style="display: none;">"You're not running away, are you?"</h3>
        <h3 class="tx" id="s7_t1_r2.4" style="display: none;">"...well, nothing wrong with that, I suppose."</h3>
        <h3 class="tx" id="s7_t1_r3.1" style="display: none;">"A brave soul you are, to brave the unknown. To find comfort in uncertainty."</h3>
        <h3 class="tx" id="s7_t1_r3.2" style="display: none;">"But you are forgetting something, aren't you? That to earn the future, you must first live the present."</h3>
        <h3 class="tx" id="s7_t1_r3.3" style="display: none;">"And all past was once the future."</h3>
        <h3 class="tx" id="s7_t1_r3.4" style="display: none;">"One day, when you fall back to the present, you'd do best to brace for impact."</h3>
        <h3 class="tx" id="s7_t1_r3.5" style="display: none;">"But of course, it is always necessary to dream."</h3>
    </div>
    <div class="text" id="tx_s8" style="display: none;">
        <h3 class="tx" id="s8_t1">"What is your MBTI?"</h3>
        <div class="response" id="rs_s8.1" style="display: none;">
            <h3 class="rs" id="s8_r1.1">Don't know</h3>
            <h3 class="rs" id="s8_r1.2">E--J</h3>
            <h3 class="rs" id="s8_r1.3">I--J</h3>
            <h3 class="rs" id="s8_r1.4">E--P</h3>
            <h3 class="rs" id="s8_r1.5">I--P</h3>
        </div>
        <div class="response-select" id="rs_sl_s8.1" style="cursor: default; display: none;">
            <h3 class="rs-sl" id="s8_rs1.1" style="display: none;">Don't know</h3>
            <h3 class="rs-sl" id="s8_rs1.2" style="display: none;">E--J</h3>
            <h3 class="rs-sl" id="s8_rs1.3" style="display: none;">I--J</h3>
            <h3 class="rs-sl" id="s8_rs1.4" style="display: none;">E--P</h3>
            <h3 class="rs-sl" id="s8_rs1.5" style="display: none;">I--P</h3>
        </div>
        <h3 class="tx" id="s8_t1_r1.1" style="display: none;">"And that is right and good as well. You have nothing to prove to anyone."</h3>
        <h3 class="tx" id="s8_t1_r1.2" style="display: none;">"You know yourself well, and you don't need a silly quiz to tell you who you are."</h3>
        <h3 class="tx" id="s8_t1_r1.3" style="display: none;">"Or perhaps you simply forgot because you didn't place much importance in it."</h3>
        <h3 class="tx" id="s8_t1_r1.4" style="display: none;">"Then, I suppose you won't be placing much credence into my words either."</h3>
        <h3 class="tx" id="s8_t1_r1.5" style="display: none;">"I wonder: is that perhaps for better, or for worse?"</h3>
        <h3 class="tx" id="s8_t1_r2.1" style="display: none;">"A natural leader. You likely find yourself at the center of a group."</h3>
        <h3 class="tx" id="s8_t1_r2.2" style="display: none;">"Do you like that feeling of control? Or are you burdened by it?"</h3>
        <h3 class="tx" id="s8_t1_r2.3" style="display: none;">"It would do good for you to stop being afraid of trust."</h3>
        <h3 class="tx" id="s8_t1_r2.4" style="display: none;">"But well, that might not be my place to meddle."</h3>
        <h3 class="tx" id="s8_t1_r3.1" style="display: none;">"An introspective one. You like to pay attention to details. To make sure everything goes according to plan."</h3>
        <h3 class="tx" id="s8_t1_r3.2" style="display: none;">"But it never really does, does it? Does that unnerve you?"</h3>
        <h3 class="tx" id="s8_t1_r3.3" style="display: none;">"A moment of relaxation may be in your favor."</h3>
        <h3 class="tx" id="s8_t1_r3.4" style="display: none;">"But you won't listen to me, will you?"</h3>
        <h3 class="tx" id="s8_t1_r4.1" style="display: none;">"You like to act on instinct. A carefree spirit."</h3>
        <h3 class="tx" id="s8_t1_r4.2" style="display: none;">"Or at least, that's what others may think. But that's not necessarily the case, is it?"</h3>
        <h3 class="tx" id="s8_t1_r4.3" style="display: none;">"The truth is that you are thinking. Acting first is a strategy that you've settled on."</h3>
        <h3 class="tx" id="s8_t1_r4.4" style="display: none;">"You know what I'm talking about."</h3>
        <h3 class="tx" id="s8_t1_r5.1" style="display: none;">"You keep a flexible mindset. A valuable quality indeed."</h3>
        <h3 class="tx" id="s8_t1_r5.2" style="display: none;">"But why is that you think so much, but act so little?"</h3>
        <h3 class="tx" id="s8_t1_r5.3" style="display: none;">"What are you afraid of?"</h3>
        <h3 class="tx" id="s8_t1_r5.4" style="display: none;">"Take the leap. You never know what may be giving chase during your inactivity."</h3>
    </div>
</div>

<script>
//Scene 1 paths
const tx_s1 = document.getElementById("tx_s1")
    //response choices
const r_s1_1 = document.getElementById("rs_s1.1")
const s1_r1_1 = document.getElementById("s1_r1.1")
const s1_r1_2 = document.getElementById("s1_r1.2")
const r_s1_2 = document.getElementById("rs_s1.2")
const s1_r2 = document.getElementById("s1_r2")

    //post-response
const rs_s1 = document.getElementById("rs_sl_s1")
const s1_rs1_1 = document.getElementById("s1_rs1.1")
const s1_rs1_2 = document.getElementById("s1_rs1.2")

    //post-response text
const s1_t2_r11 = document.getElementById("s1_t2_r1.1")
const s1_t2_r21 = document.getElementById("s1_t2_r2.1")
const s1_t2_r22 = document.getElementById("s1_t2_r2.2")
const s1_t2_r23 = document.getElementById("s1_t2_r2.3")

    //timer
    let elapsedTime = 0;
    let isRunning = false;

    function startStop() {
        if (isRunning) {
        elapsedTime += Date.now() - startTime;
        isRunning = false;
        console.log(elapsedTime)
        } else {
            startTime = Date.now();
            isRunning = true;
            console.log('time started')
        }
    }

    //Response 1
s1_r1_1.addEventListener("click", async () => {
    r_s1_1.style.display = "none";
    rs_s1.style.display = "block";
    s1_rs1_1.style.display = "block";
    s1_t2_r11.style.display = "block";
    startStop();
});
s1_t2_r11.addEventListener("click", async () => {
    r_s1_2.style.display = "block";
    s1_r2.style.display = "block";
    s1_t2_r11.style.cursor = "default";
});
    //Response 2
s1_r1_2.addEventListener("click", async () => {
    r_s1_1.style.display = "none";
    rs_s1.style.display = "block";
    s1_rs1_2.style.display = "block";
    s1_t2_r21.style.display = "block";
    startStop();
});
s1_t2_r21.addEventListener("click", async () => {
    s1_t2_r22.style.display = "block";
    s1_t2_r21.style.cursor = "default";
});
s1_t2_r22.addEventListener("click", async () => {
    s1_t2_r23.style.display = "block";
    s1_t2_r22.style.cursor = "default";
});
s1_t2_r23.addEventListener("click", async () => {
    r_s1_2.style.display = "block";
    s1_r2.style.display = "block";
    s1_t2_r11.style.cursor = "default";
});

//Scene 2 paths
    //text
const tx_s2 = document.getElementById("tx_s2")
const s2_t11 = document.getElementById("s2_t1.1")
const s2_t12 = document.getElementById("s2_t1.2")
const s2_t13 = document.getElementById("s2_t1.3")

    //response
const rs_s2 = document.getElementById("rs_s2")

r_s1_2.addEventListener("click", async () => {
    tx_s1.style.display = "none";
    tx_s2.style.display = "block";
    r_s1_2.style.cursor = "default";
});
s2_t11.addEventListener("click", async () => {
    s2_t12.style.display = "block";
    s2_t11.style.cursor = "default";
});
s2_t12.addEventListener("click", async () => {
    s2_t13.style.display = "block";
    s2_t12.style.cursor = "default";
});
s2_t13.addEventListener("click", async () => {
    rs_s2.style.display = "block";
    s2_t13.style.cursor = "default";
});

//Scene 3 paths
    //text
const tx_s3 = document.getElementById("tx_s3")
const s3_t11 = document.getElementById("s3_t1.1")
const s3_t12 = document.getElementById("s3_t1.2")
const s2_rs1 = document.getElementById("s2_rs1")

    //response
const rs_s31 = document.getElementById("rs_s3.1")
const s3_r1_1 = document.getElementById("s3_r1.1")
const s3_r1_2 = document.getElementById("s3_r1.2")
const s3_r1_3 = document.getElementById("s3_r1.3")
const s3_r1_4 = document.getElementById("s3_r1.4")
const s3_r1_5 = document.getElementById("s3_r1.5")
const s3_r1_6 = document.getElementById("s3_r1.6")
const rs_s32 = document.getElementById("rs_s3.2")
const s3_r2 = document.getElementById("s3_r2")

    //post-response
const rs_sl_s3 = document.getElementById("rs_sl_s3")
const s3_rs11 = document.getElementById("s3_rs1.1")
const s3_rs12 = document.getElementById("s3_rs1.2")
const s3_rs13 = document.getElementById("s3_rs1.3")
const s3_rs14 = document.getElementById("s3_rs1.4")
const s3_rs15 = document.getElementById("s3_rs1.5")
const s3_rs16 = document.getElementById("s3_rs1.6")

    //post-response text
const s3_t21 = document.getElementById("s3_t2.1")
const s3_t22 = document.getElementById("s3_t2.2")

    //despair counter
    let despair_pts = 0;

rs_s2.addEventListener("click", async () => {
    tx_s2.style.display = "none";
    tx_s3.style.display = "block";
    s2_rs1.style.cursor = "default";
});

s3_t11.addEventListener("click", async () => {
    s3_t12.style.display = "block";
    s3_t11.style.cursor = "default";
});

s3_t12.addEventListener("click", async () => {
    rs_s31.style.display = "block";
    s3_t12.style.cursor = "default";
});

    //Response 1
s3_r1_1.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs11.style.display = "block";
    s3_t21.style.display = "block";
    despair_pts +=1;
});

    //Response 2
s3_r1_2.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs12.style.display = "block";
    s3_t21.style.display = "block";
    despair_pts +=1;
});

    //Response 3
s3_r1_3.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs13.style.display = "block";
    s3_t21.style.display = "block";
    despair_pts +=3;
});

    //Response 4
s3_r1_4.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs14.style.display = "block";
    s3_t21.style.display = "block";
});

    //Response 5
s3_r1_5.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs15.style.display = "block";
    s3_t21.style.display = "block";
});

    //Response 6
s3_r1_6.addEventListener("click", async () => {
    rs_s31.style.display = "none";
    rs_sl_s3.style.display = "block";
    s3_rs16.style.display = "block";
    s3_t21.style.display = "block";
    despair_pts +=3;
});

s3_t21.addEventListener("click", async () => {
    s3_t22.style.display = "block";
    s3_t21.style.cursor = "default";
    console.log(`despair pts: ${despair_pts}`)
});

s3_t22.addEventListener("click", async () => {
    rs_s32.style.display = "block";
    s3_r2.style.display = "block";
    s3_t22.style.cursor = "default";
});

//Scene 4 paths
    //text
const tx_s4 = document.getElementById("tx_s4")
const rs_sl_s32 = document.getElementById("rs_sl_s3.2")
const s4_t11 = document.getElementById("s4_t1.1")
const s4_t12 = document.getElementById("s4_t1.2")

    //response
const rs_s41 = document.getElementById("rs_s4.1")
const s4_r11 = document.getElementById("s4_r1.1")
const s4_r12 = document.getElementById("s4_r1.2")
const s4_r13 = document.getElementById("s4_r1.3")

s3_r2.addEventListener("click", async () => {
    tx_s3.style.display = "none";
    tx_s4.style.display = "block";
});

s4_t11.addEventListener("click", async () => {
    s4_t12.style.display = "block";
    s4_t11.style.cursor = "default";
});

s4_t12.addEventListener("click", async () => {
    rs_s41.style.display = "block";
    s4_t12.style.cursor = "default";
});

//Scene 5 paths
    //text
const tx_s5 = document.getElementById("tx_s5")
const rs_sl_s41 = document.getElementById("rs_sl_s4.1")
const s4_rs1 = document.getElementById("s4_rs1")
const s4_rs2 = document.getElementById("s4_rs2")
const s4_rs3 = document.getElementById("s4_rs3")
const s5_t11 = document.getElementById("s5_t1.1")
const s5_t12 = document.getElementById("s5_t1.2")
const s5_t13 = document.getElementById("s5_t1.3")

    //response
const rs_s51 = document.getElementById("rs_s5.1")
const s5_r11 = document.getElementById("s5_r1.1")
const s5_r12 = document.getElementById("s5_r1.2")
const s5_r13 = document.getElementById("s5_r1.3")

    //Response 1
s4_r11.addEventListener("click", async () => {
    tx_s4.style.display = "none";
    tx_s5.style.display = "block";
    s4_rs1.style.display = "block";
    despair_pts += 3;
});

    //Response 2
s4_r12.addEventListener("click", async () => {
    tx_s4.style.display = "none";
    tx_s5.style.display = "block";
    s4_rs2.style.display = "block";
});

    //Response 3
s4_r13.addEventListener("click", async () => {
    tx_s4.style.display = "none";
    tx_s5.style.display = "block";
    s4_rs3.style.display = "block";
    despair_pts += 1;
});

s5_t11.addEventListener("click", async () => {
    s5_t12.style.display = "block";
    s5_t11.style.cursor = "default";
});

s5_t12.addEventListener("click", async () => {
    s5_t13.style.display = "block";
    s5_t12.style.cursor = "default";
});

s5_t13.addEventListener("click", async () => {
    rs_s51.style.display = "block";
    s5_t13.style.cursor = "default";
});

//Scene 6 paths
    //text
const tx_s6 = document.getElementById("tx_s6")
const rs_sl_s51 = document.getElementById("rs_sl_s5.1")
const s5_rs11 = document.getElementById("s5_rs1.1")
const s5_rs12 = document.getElementById("s5_rs1.2")
const s5_rs13 = document.getElementById("s5_rs1.3")
const s6_t11 = document.getElementById("s6_t1.1")
const s6_t12 = document.getElementById("s6_t1.2")
const s6_t13 = document.getElementById("s6_t1.3")
    //response
const rs_s61 = document.getElementById("rs_s6.1")
const s6_r11 = document.getElementById("s6_r1.1")
const s6_r12 = document.getElementById("s6_r1.2")
const s6_r13 = document.getElementById("s6_r1.3")

    //Response 1
s5_r11.addEventListener("click", async () => {
    tx_s5.style.display = "none";
    tx_s6.style.display = "block";
    s5_rs11.style.display = "block";
    despair_pts += 3;
});

    //Response 2
s5_r12.addEventListener("click", async () => {
    tx_s5.style.display = "none";
    tx_s6.style.display = "block";
    s5_rs12.style.display = "block";
});

    //Response 3
s5_r13.addEventListener("click", async () => {
    tx_s5.style.display = "none";
    tx_s6.style.display = "block";
    s5_rs13.style.display = "block";
    despair_pts += 1;
});

s6_t11.addEventListener("click", async () => {
    s6_t12.style.display = "block";
    s6_t11.style.cursor = "default";
});

s6_t12.addEventListener("click", async () => {
    s6_t13.style.display = "block";
    s6_t12.style.cursor = "default";
});

s6_t13.addEventListener("click", async () => {
    rs_s61.style.display = "block";
    s6_t13.style.cursor = "default";
});

//Scene 7 paths
    //text
const tx_s7 = document.getElementById("tx_s7")
const rs_sl_s61 = document.getElementById("rs_sl_s5.1")
const s6_rs11 = document.getElementById("s6_rs1.1")
const s6_rs12 = document.getElementById("s6_rs1.2")
const s6_rs13 = document.getElementById("s6_rs1.3")

    //post-response text
const s7_t1_r11 = document.getElementById("s7_t1_r1.1")
const s7_t1_r12 = document.getElementById("s7_t1_r1.2")
const s7_t1_r13 = document.getElementById("s7_t1_r1.3")
const s7_t1_r14 = document.getElementById("s7_t1_r1.4")

const s7_t1_r21 = document.getElementById("s7_t1_r2.1")
const s7_t1_r22 = document.getElementById("s7_t1_r2.2")
const s7_t1_r23 = document.getElementById("s7_t1_r2.3")
const s7_t1_r24 = document.getElementById("s7_t1_r2.4")

const s7_t1_r31 = document.getElementById("s7_t1_r3.1")
const s7_t1_r32 = document.getElementById("s7_t1_r3.2")
const s7_t1_r33 = document.getElementById("s7_t1_r3.3")
const s7_t1_r34 = document.getElementById("s7_t1_r3.4")
const s7_t1_r35 = document.getElementById("s7_t1_r3.5")

    //Response 1
s6_r11.addEventListener("click", async () => {
    tx_s6.style.display = "none";
    tx_s7.style.display = "block";
    s6_rs11.style.display = "block";
    s7_t1_r11.style.display = "block";
    despair_pts += 3;
});

s7_t1_r11.addEventListener("click", async () => {
    s7_t1_r12.style.display = "block";
    s7_t1_r11.style.cursor = "default";
});

s7_t1_r12.addEventListener("click", async () => {
    s7_t1_r13.style.display = "block";
    s7_t1_r12.style.cursor = "default";
});

s7_t1_r13.addEventListener("click", async () => {
    s7_t1_r14.style.display = "block";
    s7_t1_r13.style.cursor = "default";
});

    //Response 2
s6_r12.addEventListener("click", async () => {
    tx_s6.style.display = "none";
    tx_s7.style.display = "block";
    s6_rs12.style.display = "block";
    s7_t1_r21.style.display = "block";
});

s7_t1_r21.addEventListener("click", async () => {
    s7_t1_r22.style.display = "block";
    s7_t1_r21.style.cursor = "default";
});

s7_t1_r22.addEventListener("click", async () => {
    s7_t1_r23.style.display = "block";
    s7_t1_r22.style.cursor = "default";
});

s7_t1_r23.addEventListener("click", async () => {
    s7_t1_r24.style.display = "block";
    s7_t1_r23.style.cursor = "default";
});

    //Response 3
s6_r13.addEventListener("click", async () => {
    tx_s6.style.display = "none";
    tx_s7.style.display = "block";
    s6_rs13.style.display = "block";
    s7_t1_r31.style.display = "block";
    despair_pts += 1;
});

s7_t1_r31.addEventListener("click", async () => {
    s7_t1_r32.style.display = "block";
    s7_t1_r31.style.cursor = "default";
});

s7_t1_r32.addEventListener("click", async () => {
    s7_t1_r33.style.display = "block";
    s7_t1_r32.style.cursor = "default";
});

s7_t1_r33.addEventListener("click", async () => {
    s7_t1_r34.style.display = "block";
    s7_t1_r33.style.cursor = "default";
});

s7_t1_r34.addEventListener("click", async () => {
    s7_t1_r35.style.display = "block";
    s7_t1_r34.style.cursor = "default";
});

//Scene 8 paths
    //text
const tx_s8 = document.getElementById("tx_s8")
const s8_t1 = document.getElementById("s8_t1")

    //response
const rs_s81 = document.getElementById("rs_s8.1")
const s8_r11 = document.getElementById("s8_r1.1")
const s8_r12 = document.getElementById("s8_r1.2")
const s8_r13 = document.getElementById("s8_r1.3")
const s8_r14 = document.getElementById("s8_r1.4")
const s8_r15 = document.getElementById("s8_r1.5")

    //post-response
const rs_sl_s81 = document.getElementById("rs_sl_s8.1")
const s8_rs11 = document.getElementById("s8_rs1.1")
const s8_rs12 = document.getElementById("s8_rs1.2")
const s8_rs13 = document.getElementById("s8_rs1.3")
const s8_rs14 = document.getElementById("s8_rs1.4")
const s8_rs15 = document.getElementById("s8_rs1.5")

    //post-response text
const s8_t1_r11 = document.getElementById("s8_t1_r1.1")
const s8_t1_r12 = document.getElementById("s8_t1_r1.2")
const s8_t1_r13 = document.getElementById("s8_t1_r1.3")
const s8_t1_r14 = document.getElementById("s8_t1_r1.4")
const s8_t1_r15 = document.getElementById("s8_t1_r1.5")

const s8_t1_r21 = document.getElementById("s8_t1_r2.1")
const s8_t1_r22 = document.getElementById("s8_t1_r2.2")
const s8_t1_r23 = document.getElementById("s8_t1_r2.3")
const s8_t1_r24 = document.getElementById("s8_t1_r2.4")

const s8_t1_r31 = document.getElementById("s8_t1_r3.1")
const s8_t1_r32 = document.getElementById("s8_t1_r3.2")
const s8_t1_r33 = document.getElementById("s8_t1_r3.3")
const s8_t1_r34 = document.getElementById("s8_t1_r3.4")

const s8_t1_r41 = document.getElementById("s8_t1_r4.1")
const s8_t1_r42 = document.getElementById("s8_t1_r4.2")
const s8_t1_r43 = document.getElementById("s8_t1_r4.3")
const s8_t1_r44 = document.getElementById("s8_t1_r4.4")

const s8_t1_r51 = document.getElementById("s8_t1_r5.1")
const s8_t1_r52 = document.getElementById("s8_t1_r5.2")
const s8_t1_r53 = document.getElementById("s8_t1_r5.3")
const s8_t1_r54 = document.getElementById("s8_t1_r5.4")

s7_t1_r14.addEventListener("click", async () => {
    tx_s7.style.display = "none";
    tx_s8.style.display = "block";
});

s7_t1_r24.addEventListener("click", async () => {
    tx_s7.style.display = "none";
    tx_s8.style.display = "block";
});

s7_t1_r35.addEventListener("click", async () => {
    tx_s7.style.display = "none";
    tx_s8.style.display = "block";
});

s8_t1.addEventListener("click", async () => {
    rs_s81.style.display = "block";
});

    //Response 1
s8_r11.addEventListener("click", async () => {
    rs_s81.style.display = "none";
    rs_sl_s81.style.display = "block";
    s8_rs11.style.display = "block";
    s8_t1_r11.style.display = "block";
});

s8_t1_r11.addEventListener("click", async () => {
    s8_t1_r12.style.display = "block";
    s8_t1_r11.style.cursor = "default";
});

s8_t1_r12.addEventListener("click", async () => {
    s8_t1_r13.style.display = "block";
    s8_t1_r12.style.cursor = "default";
});

s8_t1_r13.addEventListener("click", async () => {
    s8_t1_r14.style.display = "block";
    s8_t1_r13.style.cursor = "default";
});

s8_t1_r14.addEventListener("click", async () => {
    s8_t1_r15.style.display = "block";
    s8_t1_r14.style.cursor = "default";
});

    //Response 2
s8_r12.addEventListener("click", async () => {
    rs_s81.style.display = "none";
    rs_sl_s81.style.display = "block";
    s8_rs12.style.display = "block";
    s8_t1_r21.style.display = "block";
    despair_pts += 3;
});

s8_t1_r21.addEventListener("click", async () => {
    s8_t1_r22.style.display = "block";
    s8_t1_r21.style.cursor = "default";
});

s8_t1_r22.addEventListener("click", async () => {
    s8_t1_r23.style.display = "block";
    s8_t1_r22.style.cursor = "default";
});

s8_t1_r23.addEventListener("click", async () => {
    s8_t1_r24.style.display = "block";
    s8_t1_r23.style.cursor = "default";
});

    //Response 3
s8_r13.addEventListener("click", async () => {
    rs_s81.style.display = "none";
    rs_sl_s81.style.display = "block";
    s8_rs13.style.display = "block";
    s8_t1_r31.style.display = "block";
    despair_pts += 3;
});

s8_t1_r31.addEventListener("click", async () => {
    s8_t1_r32.style.display = "block";
    s8_t1_r31.style.cursor = "default";
});

s8_t1_r32.addEventListener("click", async () => {
    s8_t1_r33.style.display = "block";
    s8_t1_r32.style.cursor = "default";
});

s8_t1_r33.addEventListener("click", async () => {
    s8_t1_r34.style.display = "block";
    s8_t1_r33.style.cursor = "default";
});

    //Response 4
s8_r14.addEventListener("click", async () => {
    rs_s81.style.display = "none";
    rs_sl_s81.style.display = "block";
    s8_rs14.style.display = "block";
    s8_t1_r41.style.display = "block";
    despair_pts += 1;
});

s8_t1_r41.addEventListener("click", async () => {
    s8_t1_r42.style.display = "block";
    s8_t1_r41.style.cursor = "default";
});

s8_t1_r42.addEventListener("click", async () => {
    s8_t1_r43.style.display = "block";
    s8_t1_r42.style.cursor = "default";
});

s8_t1_r43.addEventListener("click", async () => {
    s8_t1_r44.style.display = "block";
    s8_t1_r43.style.cursor = "default";
});

    //Response 5
s8_r15.addEventListener("click", async () => {
    rs_s81.style.display = "none";
    rs_sl_s81.style.display = "block";
    s8_rs15.style.display = "block";
    s8_t1_r51.style.display = "block";
});

s8_t1_r51.addEventListener("click", async () => {
    s8_t1_r52.style.display = "block";
    s8_t1_r51.style.cursor = "default";
});

s8_t1_r52.addEventListener("click", async () => {
    s8_t1_r53.style.display = "block";
    s8_t1_r52.style.cursor = "default";
});

s8_t1_r53.addEventListener("click", async () => {
    s8_t1_r54.style.display = "block";
    s8_t1_r53.style.cursor = "default";
});


</script>

</body>
</html>